{% extends 'layouts/base.html' %} {% block title %}base page{% endblock title %}
{% block content %} {% load static %}
<!-- Page Header-->
{% for y in homeContents %}
<header
  class="masthead"
  style="background-image: url({{ y.blog_headingImage.url }})"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ y.blog_heading }}</h1>
          <span class="subheading">{{ y.blog_subheading }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endfor %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% for p in posts %}
      <!-- Post preview-->
      <div class="post-preview">
        <a href="{% url 'blog:post' p.pk %}">
          <h2 class="post-title">
           {{ p.main_heading }}
          </h2>
          <h3 class="post-subtitle">
            {{ p.sub_heading }}
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Khusan Akhmedov</a>
          on {{ p.date_post }}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" href="{% url 'blog:category' %}?category/all_posts/34hk4h3kj4hk3j4hkhjkh3k434/">All Posts →</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}