{% extends 'layouts/base.html' %} {% block title %}posts{% endblock title %}
{% block content %}
<header class="masthead" style="background-image: url({{ post.image.url }})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 style="font-size: 50px">{{ post.main_heading }}</h1>
          <span class="subheading">{{ post.sub_heading }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         {{ post.post_text_1 }}
        </p>
        <h2 class="section-heading">{{ post.post_heading_1 }}</h2>
        <p>
          {{ post.post_text_2 }}
        </p>
        <!-- muted text here -->
        <blockquote class="blockquote">
          {{ post.muted_text_1 }}
        </blockquote>
        <!-- muted text here ends -->
        <h2 class="section-heading">{{ post.post_heading_2 }}</h2>
        <p>
          {{ post.post_text_3 }}
        </p>
        <a href="#!"
          ><img
            class="img-fluid"
            src="assets/img/post-sample-image.jpg"
            alt="..."
        /></a>
        <span class="caption text-muted"
          >To go places and do things that have never been done before – that’s
          what living is all about.</span
        >
      </div>
    </div>
  </div>
</article>
{% endblock content %}
