@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.container {
    max-width: 1400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.heading h1 {
    font-size: 29px;
    font-family: "Mulish", sans-serif;
    margin-top: 10px;
}

.main-stats {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.stats {
    position: relative;
    width: 350px;
    height: 150px;
    background-color: skyblue;
    box-shadow: 3px 3px 10px #444;
    cursor: pointer;
    transition: 500ms all ease;
    border-radius: 3px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.stats:hover {
    transform: translateY(-5px);
    transition: 500ms all ease;
}

.main-stats hr {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 10px;
}

.stats h1 {
    left: 45%;
    top: 50%;
    color: white;
    font-size: 30px;
    position: absolute;
}

.stats p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: rgba(23, 56, 65, 0.2);
    padding: 5px 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid rgba(23, 56, 65, 0.5);
}

.stats:nth-child(2) {
    background-color: rgba(92, 188, 214) !important;
}

.stats:nth-child(3) {
    background-color: rgba(7, 129, 163, 0.7) !important;
}.stats:nth-child(4) {
    background-color: rgba(7, 129, 56, 0.7) !important;
}.stats:nth-child(5) {
    background-color: rgba(7, 95, 83, 0.7) !important;
}.stats:nth-child(6) {
    background-color: rgba(7, 160, 90, 0.7) !important;
}

/*Users sections*/
.users {
    font-family: 'Mulish', sans-serif;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.users td,
a {
    font-size: 95% !important;
}

.users_section {
    width: 690px;
    height: auto;
    border: 1px solid #999;
    padding: 10px 20px;
}

.users h2 {
    margin-bottom: 30px !important;
}

.users_link a {
    display: inline-block;
    text-align: center;
    width: 47% !important;
}
.users_link {
    display: flex;
    justify-content: space-between;
}

.users table {
    margin-top: 20px;
}

.users table th,
td {
    /*padding-right: 150px !important;*/
    /*margin-right: 60px !important;*/
    /*border: 2px solid red;*/
    border-bottom: 1px solid rgba(1, 1, 1, 0.4);
    padding: 10px 50px;
}

/*Customers section*/
.customers {
    font-family: 'Mulish', sans-serif;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.customers td,
a {
    font-size: 90% !important;
}

.customers_section {
    width: 55%;
    height: auto;
    border: 1px solid #999;
    padding: 10px 20px;
}

.customers h2 {
    margin-bottom: 30px !important;
}

.customers_section a {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.customers table {
    margin-top: 20px;
}

.customers table th,
td {
    /*padding-right: 150px !important;*/
    /*margin-right: 60px !important;*/
    /*border: 2px solid red;*/
    border-bottom: 1px solid rgba(1, 1, 1, 0.4);
    padding: 10px 50px;
}

.first_line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.messages {
	margin-top: 30px;
    margin-left: 30px;
}

.messages_section {
    width: 550px;
    border: 1px solid #999;
    padding: 10px 20px;
}

.messages h2 {
    margin-bottom: 30px !important;
}

.messages_section a {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.messages_section table {
    margin-top: 20px;
}

.messages_section table th,
td {
    /*padding-right: 150px !important;*/
    /*margin-right: 60px !important;*/
    /*border: 2px solid red;*/
    border-bottom: 1px solid rgba(1, 1, 1, 0.4);
    padding: 10px 50px;
}

.category_contact {
    text-decoration: underline;
    letter-spacing: 2px;
    padding-bottom: 3px;
}

.category_contact i {
    font-size: 13px !important;
    transform: rotate(45deg);
    margin-left: 5px;
    color: blue;
    transition: 0.5s all ease;
}
.category_contact:hover i {
    transform: rotate(45deg) translateX(5px) translateY(-4px);
    transition: 0.5s all ease;
}













@media(max-width: 900px) {
    .main-stats {
        flex-direction: column;
        justify-content: center !important;
    }

    .stats {
        margin-top: 20px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}